body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 100%;
    background-color: #f0f0f0;
}

a {
    display: inline-block;
    padding: 50px 0;
    width: 30%;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}