body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("https://i.pinimg.com/originals/bd/af/be/bdafbe2ab1ce299f89f746f6b844df78.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
    text-align: center;
}

.contenido h1 {
    font-size: 40px;
    color: #000;
    background-color: #f5d176;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.contenido p {
    font-size: 20px;
}

input {
    width: 80%;
    padding: 12px;
    font-size: 1.1em;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 80%;
    padding: 12px;
    font-size: 20px;
    background-color: #f69100;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #545d6d;
}